body {
  background-image: url("../assets/crew/background-crew-mobile.jpg");
}

.crewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin-top: 0;
}
.crewMember {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crewMemberImg {
  height: 20rem;
}

.role,
.name {
  font-family: "Cinzel";
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  color: #d0d6f9;
  margin-top: 0;
}

.name {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.bio {
  text-align: center;
  line-height: 1.7rem;
}

.dotBtns {
  width: 10rem;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dotBtn {
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid gray;
  background-color: gray;
  padding: 0;
}

.dotBtn:hover {
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
}

.dotBtnActive {
  border: 1px solid white;
  background-color: white;
}

.bio {
  color: #d0d6f9;
}

.dotsAndInfo{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 40rem) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }

  .crewContent {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .heading {
    width: 100%;
    text-align: left;
    margin: 1.2rem 0rem;
  }
  .crewMemberImgContainer {
    order: 2;
  }

  .dotBtns {
    order: 4;
  }

  .bio{ 
    width: 33rem;
  }


}

@media (min-width: 60rem) {
  body {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }

  .crewMember { 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
  }

  .crewContent { 
    padding: 2rem 7rem 0;
    height:87vh;
  }

  .crewMemberImgContainer { 
    display:flex;

  }

  .dotsAndInfo { 
    align-items: start;
    margin-bottom: 5rem;
    margin-right: 10rem;
  }

  .dotBtns { 
    margin-top: 2rem;
  }

  .bio { 
    text-align: left;
    max-width: 25rem;
  }

  .name { 
    font-size: 2.5rem;
  }

  .role { 
    font-size: 1.5rem;
  }

  .heading {
    font-size: 1.5rem;
    margin:2rem 0rem;
  }

  .crewMemberImg {
    height: 36rem;
  }

}
